# sensitive credentials
credentials.py

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Virtual environments
venv/
env/
ENV/
.venv/

# pipenv files
Pipfile.lock

# poetry files
poetry.lock

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/
*.wheel

# Logs
*.log

# Local database files
*.sqlite3

# Unit test / coverage reports
htmlcov/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/

# Jupyter Notebook
.ipynb_checkpoints

# PyCharm
.idea/

# Visual Studio Code
.vscode/

# OS-specific files
.DS_Store
Thumbs.db
desktop.ini

# dotenv environment variables file
.env
